# Configuraci칩n para entorno de producci칩n
spring:
  datasource:
    url: ${DB_URL}
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
logging:
  level:
    root: WARN
    com.innoad: INFO

# En producci칩n, habilitar los health indicators si est치n configurados
management:
  health:
    mail:
      enabled: true
    redis:
      enabled: true
